BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; WIDTH: auto; LINE-HEIGHT: 150%; PADDING-TOP: 0px; FONT-FAMILY: verdana,sans-serif; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #0063dc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0063dc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
DIV {
	FONT-SIZE: 13px
}
TD {
	FONT-SIZE: 13px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header {
	MARGIN: 0px auto 3px; WIDTH: 972px; TEXT-ALIGN: center
}
EM {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff2900; FONT-STYLE: normal
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px auto 0px; WIDTH: 950px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #ff6600
}
.list {
	CLEAR: both; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e5e5e5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; BORDER-LEFT: #e5e5e5 1px solid; WIDTH: 950px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 100px
}
.list TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.Number1-3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 45px; PADDING-BOTTOM: 15px; MARGIN: 0px; WIDTH: 60px; COLOR: #fff; PADDING-TOP: 35px; FONT-FAMILY: Engravers MT,arial black; BACKGROUND-COLOR: #ed1b23; TEXT-ALIGN: center
}
.Number4-10 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 45px; PADDING-BOTTOM: 15px; WIDTH: 60px; COLOR: #fff; PADDING-TOP: 35px; FONT-FAMILY: Engravers MT,arial black; BACKGROUND-COLOR: #cbcccc; TEXT-ALIGN: center
}
.Pic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px; HEIGHT: 150px; TEXT-ALIGN: center
}
.Content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px; HEIGHT: 100px; TEXT-ALIGN: left
}
.Sale {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 170px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Comment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Price {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Type {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 130px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px auto 0px; WIDTH: 970px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#referer {
	DISPLAY: none
}
